<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.messqr">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MessQR">
        <activity
            android:name=".admin_access"
            android:exported="false" />
        <activity
            android:name=".update_profile"
            android:exported="false" />
        <activity
            android:name=".details_of_gm"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".details_of_mc"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".details_of_sm"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sm_announce"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gm_announce"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mc_announce"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".enterAnnounce"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin_Announcement"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QR_scanner_specialMeal"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminPrompt"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QR_code_generator2"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- <activity -->
        <!-- android:name=".qr_code_generator" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".QR_Scanner"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin_login"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SpecialMeal_QR_Scanning"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity7"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".History_Table"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Announcement_Section"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Payment_Section"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main_QR_Scanning"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WelcomeScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>